body {
  margin: 0px;
  text-align: center;
  font-family: "Merriweather", serif;
  width: auto;
  color: #40514e;
}
h1 {
  color: #71c9ce;
  font-size: 400%;
  margin: 50px auto 0 auto;
  font-family: "Sacramento", cursive;
}
h2 {
  color: #71c9ce;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-weight: normal;
  padding-bottom: 10px;
}
h3 {
  color: #71c9ce;
  font-family: "Montserrat", sans-serif;
}
.top-container {
  background-color: #a6e3e9;
  position: relative;
  padding-top: 100px;
}
.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}
.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}
.middle-container {
  margin: 30px 0;
}
.bottom-container {
  background-color: #66bfbf;
  padding: 30px 0 10px;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 7%;
}
.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}
.design {
  width: 25%;
  float: left;
  margin-right: 30px;
}
.reading {
  width: 25%;
  float: right;
  margin-left: 30px;
}
p {
  line-height: 2;
}
.btn {
  -webkit-border-radius: 20;
  -moz-border-radius: 20;
  border-radius: 20px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 25px;
  padding: 6px;
  background: #3498db;
  text-decoration: none;
}
.btn:hover {
  background: #3cb0fd;
  text-decoration: none;
}
a {
  color: #11999e;
  font-family: "Montserrat", sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover {
  color: white;
}
.copyright {
  color: white;
  font-size: 0.75rem;
  padding: 20px 0px;
}
.background {
  vertical-align: bottom;
}
